@page "/admin"
@model AmazonBookStore.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Book Store Admin</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <base href="/" />
</head>

<body>

    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>