@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pageNum="" class="btn btn-outline-secondary">Home</a>

    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-category="@t" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedCategory == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }

</div>